[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"
djangorestframework = "*"
psycopg2-binary = "*"
Django = "*"
Pillow = "*"
uWSGI = "*"

[dev-packages]

[requires]
python_version = "3.8"
